body {
    background-color: darkgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    box-sizing: border-box;
}

a {
    color: maroon;
    font-weight: bold;
    text-decoration: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}